/*keyframes are like a function for animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    opacity: 1;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* 
the below is used as a global reset - removing unwanted characteristics from browsers 
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; is best practice. It will be inherited from the body below*/
  box-sizing: inherit; }

/* 
Root font-size is 16px 
Rather than use pixels, a percentage is better practice
10px for easy conversion to rem
therefore, 10/16 = 62.5% as per the below
*/
html {
  font-size: 62.5%; }

/*Always use rem instead of px, this will imporve responisve design*/
body {
  box-sizing: border-box; }

/*Always use rem instead of px, this will imporve responisve design*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  /*padding: 20px;*/
  padding: 2rem;
  background-color: #fff; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /*hides the back part of the element during animation*/
  backface-visibility: hidden;
  margin-bottom: 6rem;
  /* 
     animation-delay: 3s;
     animation-iteration-count: 3;
     animation-timing-function: ease-in;
     */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    /*shorthand animation syntax */
    animation: moveInRight 3s ease-out 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center; }

/*the below class is for the button in general*/
.btn {
  /* below - function / transition time / timing function / delay */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all 0.2s;
    backface-visibility: hidden;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.6s; }
  .btn--animated {
    animation: moveUp 1s ease-out 3s;
    animation-fill-mode: backwards; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 7vh;
    /* removes lag / hides the back part of the element during animation*/
    backface-visibility: hidden; }
  .header__logo:hover {
    transform: scale(1.2);
    cursor: grab; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
