@mixin clearfix {
    &::after{
        content: "";
        display: table;
    }
    
}

// This will center the element within the parent
@mixin center-horizontal-vertical{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}