.row {
  max-width: $grid-width;
  background-color: #eee;
  //this will center a block element within another block element
  margin: 0 auto;
  //this is to select everything except the last child
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  //clearfix removes issues that the parent might face from the childs styling (might collapse it)
  @include clearfix;

  //^ allows the selection of everything in the =
  [class^="col-"] {
    background-color: orange;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
   
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
   
  }
}


