/*the below class is for the button in general*/

.btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 5rem;
      transition: all 0.2s;
      backface-visibility: hidden;
      position: relative;
      font-size: 1.6rem;
    }
  
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 3rem rgba($color-black, 0.3);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 2rem rgba($color-black, 0.3);
    }
  
    &--white {
      background-color: $color-white;
      color: $color-grey-dark;
  
      &::after {
        background-color: $color-white;
      }
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 5rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.6s;
    }
  
    /* below - function / transition time / timing function / delay */
    &--animated {
      animation: moveUp 1s ease-out 3s;
      animation-fill-mode: backwards;
    }
  }
  