/* 
the below is used as a global reset - removing unwanted characteristics from browsers 
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; is best practice. It will be inherited from the body below*/
  box-sizing: inherit;
}

/* 
Root font-size is 16px 
Rather than use pixels, a percentage is better practice
10px for easy conversion to rem
therefore, 10/16 = 62.5% as per the below
*/

html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  /* this will be obsolete due to the next media querie is the same 
  @include respond(phone) {
    font-size: 50%; // 1 rem = 8px; 8px/16px = 50%
  }
  */
  // Media queries should be written largest to smallest in conflicting areas (opposite in mobile fist design

  @include respond(tab-land) {
    font-size: 60%; // 1 rem = 9.6px; 9.6px/16px = 60%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px; 8px/16px = 50%
    padding: 0;
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px; 12px/16px = 75%
  }
}


/*Always use rem instead of px, this will improve responsive design*/
body {
  box-sizing: border-box;
  padding: 2rem;

  @include respond(tab-port) {
    padding: 0;
  

  }
}