.section-about {
  background-color: $color-grey-light;
  padding: 30rem 0;
  padding-bottom: 60rem;
  margin-top: -20vh;
}

.section-features {
padding: 30rem 0;
padding-bottom: 60rem;
background-image: linear-gradient(
  to right bottom,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-dark, 0.8)
),
url(../img/nat-4.jpg);
background-size:cover;
//below can be used as well as clip path
transform: skewY(-7deg);
margin-top: -10rem;

// all children of the parent selector
& > * {
  transform: skewY(7deg);

}
}

.section-tours {
  background-color: $color-grey-light;
  padding: 30rem 0;
  padding-bottom: 60rem;
  margin-top: -20vh;
}