.section-about {
  background-color: $color-grey-light;
  padding: 30rem 0;
  padding-bottom: 60rem;
  margin-top: -20vh;
}

.section-features {
padding: 30rem 0;
padding-bottom: 60rem;
background-image: linear-gradient(
  to right bottom,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-dark, 0.8)
),
url(../img/nat-4.jpg);

}